<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Artists</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.css}">
</head>
<body>
<form method="post" action="add_artist">
    <label for="artist">New artist:</label>
    <input id="artist" type="text" name="artist" class="text-input" required>
    <input type="submit" value="Add" class="btn btn-sm btn-primary">
</form>
<table class="table table-sm table-striped table-hover table-bordered" style="width: 50%">
    <thead class="table-info">
    <tr>
        <th>#</th>
        <th>Artist</th>
        <th>Albums</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a : ${artists}">
        <td th:text="${a.id}"></td>
        <td th:text="${a.name}"></td>
        <td>
            <a th:href="@{/show_albums/{id}(id=${a.id})}" class="btn btn-sm btn-outline-primary">Show</a>
        </td>
        <td>
            <a th:href="@{/edit_artist(id=${a.id})}" class="btn btn-sm btn-outline-info">Edit</a>
        </td>
        <td>
            <!--            <a th:href="@{/delete_artist(id=${a.id})}" class="btn btn-sm btn-outline-danger">Delete</a>-->
            <a class="btn bt-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#myconfirm"
               th:attr="data-bs-link=@{/delete_artist(id=${a.id})}, data-bs-text=${a.name}, data-bs-id=${a.id}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticWarningLabel">Warning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete artist?<br/>
                If you click delete, this action <i>cannot be undone</i>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <a class="btn btn-danger delete-button">Delete</a>
            </div>
        </div>
    </div>
</div>
<script>
    let myConfirmModal = document.getElementById('myconfirm');
    myConfirmModal.addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget;
        let link = button.getAttribute('data-bs-link');
        let tid = button.getAttribute('data-bs-id');
        let text = button.getAttribute('data-bs-text');
        let modalTitle = myConfirmModal.querySelector('.modal-title');
        modalTitle.textContent = 'Deleting artist: ' + text + ' (' + tid + ')'
        let deleteButton = myConfirmModal.querySelector('.delete-button');
        deleteButton.setAttribute("href", link)
    })
</script>
<script th:src="@{webjars/jquery/3.7.0/dist/jquery.js}"></script>
<script th:src="@{webjars/popperjs__core/2.11.8/dist/umd/popper.js}"></script>
<script th:src="@{webjars/bootstrap/5.3.0/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>