<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <form action="add_student" method="post">
        <input type="text" name="name">
        <input type="number" name="age">
        <input type="submit" value="Add">
    </form>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s: ${studentList}">
        <td th:text="${s.name}"></td>
        <td th:text="${s.age}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>